<section>
    <nav class="tabs" data-group="primary-tabs">
        {{#each tabs}}
        <a class="item" data-tab="{{id}}"><i class="{{icon}}"></i> {{label}}</a>
        {{/each}}
        <br>
    </nav>
</section> 