{{!-- {{log 'Input data' this}} --}}
<!-- Global Stats display. Default is only Gm can see global info -->

<!-- Base Lauout of global data
    //Global Stats               
            //D2 info
                //Graph of Each Number And Rolled Amount
                //Mean, Median, Mode
                //Plyer with Most Low Rolls & Number
                //Player with Most highest Roll & Number
                //Longest Streak Number & Player

            //D3 info
                //Graph of Each Number And Rolled Amount
                //Mean, Median, Mode
                //Plyer with Most Low Rolls & Number
                //Player with Most highest Roll & Number
                //Longest Streak Number & Player
-->
<form>
    
</form>