<section
  class='tab {{tab.cssClass}}'
  data-group='primary'
  data-tab='genericData'
>
  <head>
      <script type = "text/javascript">
          google.charts.load('current', {packages: ['corechart']});     
      </script>
  </head>
    
  <h1>Generic Tab Data Here!</h1>

  <div id="d2ChartGlobal" style="width: 100%; height: 250px; border: 2px solid white;"></div>
  
  <canvas id="myChart" width="400" height="200"></canvas>
</section>