<!-- This is a tab that shows player hits and miss info -->
<!-- Display the following: -->
<!--    Attacks:    Hit #, Miss #, Undefined #,Total #, Crit Suc #, Crit Fail # -->
<!--    Saves:      Hit #, Miss #, Undefined #,Total #, Crit Suc #, Crit Fail # -->
<!--    Checks:     Hit #, Miss #, Undefined #,Total #, Crit Suc #, Crit Fail # -->
<!--    Damage:     Total Damage -->
<div>
    
</div>