<div>
    <h2 class="tab-unsupported-heading"> 
        {{localize "DICE_STATS_TEXT.player_data_form.tab_unsupported.tab_unsuported_heading"}}
    </h2>
    <br>
    <p class="tab-unsupported-body"> 
        {{localize "DICE_STATS_TEXT.player_data_form.tab_unsupported.tab_unsuported_body"}}
    </p>
    <a href="https://github.com/jacobwojoski/dice-stats/issues">
        {{localize "DICE_STATS_TEXT.player_data_form.tab_unsupported.tab_unsuported_link"}} 
    </a>
</div>