.open-player-stats-button{
    background: transparent;
    color: white;
    border: 0;
    padding: 0;
    line-height: 0;
    align-self: center;
    margin: 0 2%;
}

.open-global-stats-button{
    background: transparent;
    color: white;
    border: 0;
    padding: 0;
    line-height: 0;
    align-self: center;
    margin: 0 2%;
}

.chart-dice-stats{
    background: transparent;
    width: 110%; 
    height: 300px; 
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10;
}

.comparison-chart-dice-stats{
    background: transparent;
    width: 100%; 
    height: 300px; 
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10;
}

.dice-type-title{
    margin: auto;
    text-align: center;
}

div.center-checkboxes{
    display: flex;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

input.form-checkboxes{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

span.form-checkboxes{
    vertical-align: middle;
    font-size: 18px;
    white-space: nowrap;
}

.blind-roll-rollcount{
    margin: auto;
    text-align: center;
}

button.blind-roll-rollcount{
    background: transparent;
    color: white;
    border: 0;
    padding: 0;
    line-height: 0;
    align-self: center;
    margin: 0 2%;
}

.blind-roll-heading{
    margin: auto;
    text-align: center;
}

.db-interaction-heading{
    margin: auto;
    text-align: center;
}

.heading{
    margin-right: 10px;
    white-space: nowrap;
}

.templates-tab-unsupported-heading{
    text-align: center;
}

.templates-tab-unsupported-body{
    margin: auto;
}
